h1, table, th, td, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item-container{
    margin: 100px auto 20px auto;

}
/* Body styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px ;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Button styling */
.edit-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #0056b3;
}

/* Pagination styling */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-btn {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.pagination-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
    background-color: #0056b3;
}

.pagination span {
    margin: 0 10px;
}